# Marriage Officiants in Ontario

In [1]:
import pandas as pd

df = pd.read_csv("registered_marriage_officiants.csv")
pd.set_option("display.max_colwidth", 100)
df.head()

,Municipality,Last Name,First Name,Affiliation
0,Acton,Benham,John James L,Western Ontario Waterways Regional Council - United Church
1,Acton,Berry,Cheryl Anne,Spiritualist Church Of Canada
2,Acton,Crerar,Thomas Charles,Celebrating Life Ministries
3,Acton,Kabugi,Naomi Gakenia,The Anglican Church Of Canada Diocese Of Niagara
4,Acton,Letki,Matthew F,Clergy Support Memorial Church

In [2]:
data_summary = df.describe()
df.describe()

,Municipality,Last Name,First Name,Affiliation
count,22230,22230,22230,22196
unique,1340,12122,15111,1018
top,Toronto,Smith,John,Roman Catholic Archdiocese Of Toronto - Catholic Pastoral Center
freq,2313,148,129,843

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22230 entries, 0 to 22229
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Municipality  22230 non-null  object
 1   Last Name     22230 non-null  object
 2   First Name    22230 non-null  object
 3   Affiliation   22196 non-null  object
dtypes: object(4)
memory usage: 694.8+ KB

In [4]:
df.isnull().sum()

Municipality     0
Last Name        0
First Name       0
Affiliation     34
dtype: int64

In [5]:
no_affiliation_rows = df[df["Affiliation"].isnull()]
no_affiliation_rows

        Municipality      Last Name        First Name Affiliation
768           Aylmer         Lownes            John A         NaN
4050        Cornwall          Bemat            Mohmed         NaN
4334       Downsview         Farouk           Mohamed         NaN
4345       Downsview         Seeram          Raghubir         NaN
4486          Dundas   Robertson Jr            John C         NaN
5578      Gloucester         Mattan             Farah         NaN
6607        Hamilton  Vitela-Campos             Alain         NaN
7903       Kitchener        Kunuram          Motilall         NaN
8457          London     Algalaieni         Mohamad M         NaN
8685          London        Hammoud             Jamal         NaN
8693          London         Hassan               Ala         NaN
8808          London        Mahishy  Houssein Mohamed         NaN
9594         Massena      Lee-Clark           Bruce C         NaN
10046    Mississauga        Chagger        Prithpal S         NaN
10546    Mississauga          Rishy           Maharaj         NaN
10600    Mississauga          Singh            Harmit         NaN
11144     New Lowell       Melville           Peter D         NaN
12226       Oakville          Shoan          Bhajan S         NaN
12865         Ottawa          Attar           Ghassan         NaN
12895         Ottawa           Berg            Samuel         NaN
13273         Ottawa        Mohamed             Osman         NaN
14866  Richmond Hill    Somasekaran          Vijaya G         NaN
15592    Scarborough     Janmohamed             Nizar         NaN
16333  St Catharines         Barron         Richard E         NaN
16962   Stoney Creek         Ismail         Hatim Ali         NaN
17272        Sudbury         Belaid             Aouni         NaN
17375        Sudbury         Taalat          Lahbib M         NaN
18688        Toronto           Fung          Luen Wai         NaN
19526        Toronto          Nevel           Keith R         NaN
20991       Waterloo      Raghunath          Davendra         NaN
21237      West Hill          Nanji            Nazmin         NaN
21564     Willowdale          Saidi            Said A         NaN
21612        Windsor        Bhangoo          Sajjan S         NaN
21888        Windsor         Shaban           Abdul H         NaN

In [6]:
# Display the top 20 municipalities by frequency
top_municipalities = df["Municipality"].value_counts().head(20)
print("Top 20 Municipalities by Frequency:")
print(top_municipalities)

Top 20 Municipalities by Frequency:
Municipality
Toronto          2313
Brampton          902
Mississauga       800
Scarborough       728
Ottawa            700
London            630
Hamilton          568
Kitchener         462
North York        404
Windsor           360
Etobicoke         313
Markham           306
St Catharines     303
Waterloo          292
Ajax              288
Kingston          263
Oshawa            262
Barrie            262
Burlington        259
Guelph            254
Name: count, dtype: int64

In [7]:
# Display the bottom 20 municipalities by frequency
top_municipalities = df["Municipality"].value_counts().tail(20)
print("Bottom 20 Municipalities by Frequency:")
print(top_municipalities)

Bottom 20 Municipalities by Frequency:
Municipality
Nett Lake                    1
Nestleton Station            1
Mt Elgin                     1
Mt Forest                    1
Mt Pleasant                  1
Mt.Elgin                     1
Mulmer                       1
Chathan                      1
Muncey                       1
Murillo                      1
NORTH DUMFRIES               1
NORVAL                       1
Nakina                       1
Napenee                      1
Nassagaweya Campbellville    1
Nassagaweya Rockwood         1
Charing Cross                1
Chaput Hughes                1
Nestleton                    1
oRILLIA                      1
Name: count, dtype: int64

In [8]:
# Display the top 20 municipalities by frequency
top_affiliations = df["Affiliation"].value_counts().head(20)
print("Top Affiliations by Frequency:")
print(top_affiliations)

Top Affiliations by Frequency:
Affiliation
Roman Catholic Archdiocese Of Toronto - Catholic Pastoral Center    843
The Pentecostal Assemblies of Canada Western Ontario District       684
Ministers Network Canada                                            517
The Anglican Church Of Canada Diocese Of Toronto                    516
Baptist - Ontario & Quebec                                          507
Celebrating Life Ministries                                         414
Clergy Support Memorial Church                                      413
Baptist                                                             405
Salvation Army                                                      381
The Association for Education and Evangelism                        369
Fellowship Of Evangelical Baptist Churches                          350
Brethren                                                            347
The Pentecostal Assemblies of Canada Eastern Ontario District       323
Canadian International Metaphysical Ministry                        323
Roman Catholic Archdiocese Of Ottawa-Cornwall                       307
Independent Assemblies Of God International                         304
Roman Catholic Diocese Of Hamilton                                  298
Community Of Christ                                                 270
Shining Waters Regional Council - United Church                     269
The Anglican Church of Canada Diocese of Huron                      267
Name: count, dtype: int64

In [9]:
# Display the bottom 20 municipalities by frequency
bottom_affiliations = df["Affiliation"].value_counts().tail(20)
print("Bottom 20 Affiliations by Frequency:")
print(bottom_affiliations)

Bottom 20 Affiliations by Frequency:
Affiliation
Brethren - Iroquois Falls Bible Chapel                1
Hosanna Tabernacle                                    1
Mashiakhat Al-Akel Of The Druze Sect                  1
Bab Ul Hawaij Islamic Centre                          1
Hindu Society of Guelph                               1
St. Mary's Syriac Orthodox Church of Canada           1
New Beginning Baptist Fellowship Church               1
Above All Christian Gathering                         1
St. Gregorios Orthodox Church Of Toronto              1
Nabawi Mosque                                         1
Jot Parkash Sahib                                     1
Independent Christ Church                             1
Charismatic Episcopal Church of Asia                  1
Brampton International Baptist Church                 1
Faith Full Gospel Ministries                          1
Ethiopian Orthodox Tewahedo Church - Medham Alem      1
Solid Rock Baptist Chapel Of Mississauga              1
The Canadian Orthodox Church                          1
Church of the Firstborn of Jamaica, Inc.              1
The Spiritual Assembly Of The Baha'is Of Woodstock    1
Name: count, dtype: int64