# Marriage Officiants in Ontario

In [21]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('registered_marriage_officiants.csv')
pd.set_option('display.max_colwidth', 100)
df.head()

,Municipality,Last Name,First Name,Affiliation
0,Acton,Benham,John James L,Western Ontario Waterways Regional Council - United Church
1,Acton,Berry,Cheryl Anne,Spiritualist Church Of Canada
2,Acton,Crerar,Thomas Charles,Celebrating Life Ministries
3,Acton,Kabugi,Naomi Gakenia,The Anglican Church Of Canada Diocese Of Niagara
4,Acton,Letki,Matthew F,Clergy Support Memorial Church

In [22]:
data_summary = df.describe()

,Municipality,Last Name,First Name,Affiliation
count,22230,22230,22230,22196
unique,1340,12122,15111,1018
top,Toronto,Smith,John,Roman Catholic Archdiocese Of Toronto - Catholic Pastoral Center
freq,2313,148,129,843